/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
        width: 700px;
        border: 500px;
        border-radius: 25px;
        padding: 24px;
    }

#left-side {
        display: inline-block; 
        width: 65%; 
    }

#right-side {
        display: inline-block; 
        width: 65%; 
    }