@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    .permanent-marker-regular {
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
      }
}

body {
    text-align: center;
}

* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: "Permanent Marker", cursive;
}

#hero-4 {
    background-image:url(../images/hero.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 100px;
}

#hero-4 h2 {
    font-size: 72px;
    margin-bottom: 36px;
}

#hero-4 h4 {
    font-size: 24px;
    margin: 0px;
}

#hero-4 a {
    font-size: 14px;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 10px solid #000000;
}

.basic-grid-gallery img {
    width: 100%;
}




.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background-color: #ffffff00;
    color: #000000;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

/*
    The flex: 1; below makes each card equally
    sized within the flexbox (unless the container
    gets too small, then they may get squished).

    However, if you don't want them to grow too
    wide, you may want to consider adding a 
    max-width property.
*/
.card {
    flex: 1;
    border: 8px solid #000000;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}