/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

#pic1 {
    width: 120px;
    padding: 3pc;
    
}

#pic2 {
    width: 120px;
    padding: 3pc;
   
}

#pic3 {
    width: 140px;
}
